/* region GENERAL */

html {
  padding: 0;
  margin: 0;

  body {
    background: #1e1e1e;
    color: white;
    padding: 0;
    margin: 0;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }


}

.equalizer {
  clear: both;
  height: 1px;
}

/* endregion */

/* region HOMEPAGE */


.container_page {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  max-width: 1440px;
  background-color: #fff;
  height: 100%;

  .header-main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);

    .site-branding {
      display: flex;
      margin: 0;
      padding: 0;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;

      .site-title {
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.9);
        text-decoration: none;
        font-size: 24px;
        font-size: 1.5rem;
        font-family: "Barlow", arial, helvetica, sans-serif;
        font-weight: bold;
        text-transform: none;
        line-height: 1.4;
      }
    }

    .primary-menu{
      display: flex;
      margin-left: auto;
      width: auto;
      align-items: center;

      ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0;
        border-bottom: none;

        li{
          position: relative;
          margin: 1rem;
          list-style: none;

          &:hover{
            color: #e36355;

            a {
              color: #e36355;
            }
          }
        }
      }
    }

  }

  @media only screen and (min-width: 480px) {

    .header-main {
      padding: 1.5rem 2rem;
    }
  }
  @media only screen and (min-width: 640px) {
    .header-main {
      padding: 2rem 3rem;

      .site-branding {
        .site-title {
          font-size: 28px;
          font-size: 1.75rem;
        }
      }
    }
  }
  @media only screen and (min-width: 960px) {
    .header-main {
      padding: 2.5rem 4rem;

      .site-branding {
        .site-title {
          font-size: 32px;
          font-size: 2rem;
        }
      }

      .primary-menu ul li{
        padding: 0.8rem 1rem;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    .header-main {
      padding: 3rem 5rem;

      .site-branding {
        .site-title {
          font-size: 36px;
          font-size: 2.25rem;
        }
      }

    }
  }

}


/*endregion*/

/* region PULSE CUSTOM */
@-webkit-keyframes pulse-custom {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse-custom {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse-custom {
  -webkit-animation-name: pulse-custom;
  animation-name: pulse-custom;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

/*endregion*/

/* region SHAKE CUSTOM */
@-webkit-keyframes shake-custom {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  2%,
  6% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  4%,
  8% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  9% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake-custom {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  2%,
  6% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  4%,
  8% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  9% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.shake-custom {
  -webkit-animation-name: shake-custom;
  animation-name: shake-custom;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

/*endregion*/

/* region FLASH CUSTOM */
@-webkit-keyframes flash-custom {
  0%,
  5%,
  10% {
    opacity: 1;
  }
  2.5%,
  7.5% {
    opacity: 0;
  }
}

@keyframes flash-custom {
  0%,
  5%,
  10% {
    opacity: 1;
  }
  2.5%,
  7.5% {
    opacity: 0;
  }
}

.flash-custom {
  -webkit-animation-name: flash-custom;
  animation-name: flash-custom;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

/*endregion*/
